@charset "UTF-8";
/* Variables */ /* Mixin */ /* Maps */ /* Extends */
.boton-destacado2, .carousel-item .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la página completa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(29, 45, 34);
  background: linear-gradient(343deg, rgb(29, 45, 34) 0%, rgb(85, 123, 86) 100%);
  font-family: "Lucida Bright", Georgia, serif;
}

/* Estilos para el encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9dbfdb;
  padding: 10px 20px;
}

.logo img {
  height: 90px;
  width: 100%;
}

/* Slider */
.carousel-item .img-container {
  position: relative;
  height: 80vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.boton-destacado {
  padding: 10px 20px;
  background-image: linear-gradient(to right, #8a2be2, #9400d3);
  border: none;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

.boton-destacado2 {
  padding: 10px 20px;
  background-image: linear-gradient(to right, #8a2be2, #9400d3);
  border: none;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

/* Estilos para el menú de navegación */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
nav ul li a:hover {
  background-color: #fff;
  color: #0096FF;
}

/* Bootstrap*/
.navbar-nav .nav-link {
  color: #fff;
}

/* Estilos para el destacado de la página */
.texto-delineado {
  color: #fff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Estilos para el contenedor principal */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  color: #fff;
}

/* Estilos para las noticias recientes */
.noticias-recientes {
  background-color: #fff;
  padding: 50px 20px;
}

.titulo-noticia {
  font-size: 2rem;
  margin-bottom: 30px;
}

.contenedor-noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Estilos para una noticia individual */
.noticia {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.noticia:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.noticia:hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-noticia {
  margin: 0 20px 20px;
  font-size: 1rem;
}

.boton-noticia {
  background-color: #12171E;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-self: center;
  text-decoration: none;
}
.boton-noticia:hover {
  background-color: #116A7B;
}
.boton-noticia:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(18, 23, 30, 0.3);
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news-card {
  transition: transform 0.3s ease-in-out;
}
.news-card:hover {
  transform: scale(1.05);
}

/* Estilos para la vista previa de la noticia */
.sub-titulo {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.noticia-preview {
  display: flex;
  flex-direction: row;
  background-color: #5dffc4 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  overflow: hidden;
  border-radius: 15px;
}
.noticia-preview:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.imagen-noticia {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.noticias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.titulo-noticia {
  font-size: 1.5rem;
  margin-bottom: 10px;
  overflow: hidden;
  color: #fff;
  transition: color 0.3s ease;
}
.titulo-noticia:hover {
  color: #116A7B;
}

.texto-preview {
  max-width: 70%;
  margin-bottom: 1rem;
  margin-top: 10px;
  word-wrap: break-word;
}
.texto-preview p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leer-mas {
  display: flex;
  align-self: flex-end;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #8a2be2, #9400d3);
  border: none;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

/* Estilos para el pie de página */
footer {
  background-color: #12171E;
  color: #fff;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Enlaces del pie de página */
.enlaces ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.enlaces ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  display: block;
  padding: 10px;
}

/* Contenedor para el logo y los enlaces */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 50px;
}
.logo-footer img {
  width: 150px;
  height: auto;
}

/* Redes sociales */
.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

.iconos a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px;
  display: inline-block;
}

/* Derechos de autor */
.derechos {
  background-color: #1C2431;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.derechos p {
  margin: 0;
  font-size: 0.8rem;
}

/* Media Queries*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav.flex-column.flex-sm-row {
    flex-direction: row;
  }
  .nav.flex-column.flex-sm-row .nav-item {
    margin-right: 15px;
  }
}
@media (max-width: 575.98px) {
  .nav.flex-column.flex-sm-row {
    flex-direction: column;
  }
  .nav.flex-column.flex-sm-row .nav-item {
    margin-bottom: 10px;
  }
}
@media (max-width: 479.98px) {
  .nav.flex-column.flex-sm-row .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .enlaces ul {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=estilos.css.map */
