/* Estilos para la página completa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(29,45,34);
    background: linear-gradient(343deg, rgba(29,45,34,1) 0%, rgba(85,123,86,1) 100%);
    font-family: "Lucida Bright", Georgia, serif;
}