/* Estilos para la página completa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #743560 0%, #4a056f 74%);
    font-family: "Lucida Bright", Georgia, serif;
}


