/* Maps */

$colores: (
    blanco: #fff,
    azul: #116A7B,
    negro: #12171E,
    color-nav: #9dbfdb,
    color-contenedor-noticias: #5dffc4,
    celeste: #0096FF,
    color-noticia: #181A1B,
    color-derechos: #1C2431
);