/* Maps */

$colores: (
    blanco: #fff,
    azul: #9837ff,
    negro: #12171E,
    color-nav: #6717bb,
    color-contenedor-noticias: #463940,
    celeste: #0096FF,
    color-noticia: #181A1B,
    color-derechos: #471e72
);