/* Media Queries*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .nav.flex-column.flex-sm-row {
    flex-direction: row;
    }
    .nav.flex-column.flex-sm-row .nav-item {
    margin-right: 15px;
    }
}

@media (max-width: 575.98px) {
    .nav.flex-column.flex-sm-row {
    flex-direction: column;
    }
    .nav.flex-column.flex-sm-row .nav-item {
    margin-bottom: 10px;
    }
}

@media (max-width: 479.98px) {
    .nav.flex-column.flex-sm-row .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
    }
    .enlaces ul {
    display: flex;
    flex-direction: column;
    }
    .contacto {
        flex-direction: column;
        align-items: center;
    }
    .mapa {
        margin-top: 5px;
    }
    .correo {
        text-align: center;
    }
    .equipo img {
        margin-bottom: 10px;
    }
    .redaccion {
        text-align: center;
    }
}
